.page-title {
	padding: 4.8rem 1.2rem 0 1.2rem;

	&__main {
		font-size: 1.6rem;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0;
		margin: 0 0 0.6rem 0;
	}

	&__secondary {
		font-size: 2.8rem;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}
}
