@media screen and (min-width: 600px) {

	.events {
		@include clearfix;
		margin: 0 0 0 -1.2rem;
	}

	.event {
		width: 50%;
		float: left;
		padding: 0 0 1.2rem 1.2rem;
		box-sizing: border-box;
	}
}
