.events {
	list-style-type: none;
	padding: 0 1.2rem;
	margin: 0;
}

.event {
	padding: 0;
	margin: 0;
}

.event-image {
	position: relative;

	&__thumb {
		display: block;
		width: 100%;
		height: auto;
	}
}

.event-when {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;

	&__day {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 500;
		color: $colour-grey;
		text-transform: uppercase;
		padding: 1rem 1.6rem;
		background: $colour-white;
		border-right: 1px solid $colour-grey;
	}

	&__live {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 500;
		color: $colour-white;
		text-transform: uppercase;
		padding: 1rem 1.6rem;
		background: $colour-red;
		position: relative;

		&::after {
			position: absolute;
			right: -5px;
			top: calc(50% - 6px);
			display: block;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent $colour-red;
		}
	}

	&__time {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 500;
		color: $colour-grey;
		padding: 1rem 1.6rem;
		background: $colour-white;
	}
}

.event-meta {
	min-height: 98px;
	padding: 1.6rem;
	background: $colour-event-tab;

	&--alt {
		background: $colour-event-tab-alt;
	}

	&__info {
		color: $colour-light-grey;
		font-size: 1.2rem;
		padding: 0;
		margin: 0 0 1.6rem 0;
	}

	&__name {
		color: $colour-white;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		padding: 0;
		margin: 0;

		span {
			display: block;
		}
	}
}
