doctype html
html(lang='en-GB')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
		meta(name='robots', content='noodp')
		block title
			title Technical Exercise - Perform
		link(href='https://fonts.googleapis.com/css?family=Kanit:400,300,500,600,700' rel='stylesheet')
		link(href='/css/styles.css', rel='stylesheet')
	body()
		main
			block content
		block scripts
