.menu {
	text-align: center;
	padding: 2.2rem 0;
	background: $colour-off-black;

	@media screen and (min-width: 768px) {
		background: $colour-black;
	}

	&__button {
		@include resetButton;
		display: inline-block;
		color: $colour-white;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: 1px solid $colour-white;
		padding: 0 0 0.4rem 0;
	}
}
