html,
body {
	color: $colour-white;
	font-size: 62.5%;
	font-family: $typeface-kanit;
	line-height: 1;
	background: $colour-black;
}

body {
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#app {
	min-height: 100vh;
	background: url("/images/background.jpg") no-repeat 0 0;
	background-size: cover;
}
