@mixin resetButton {
	display: block;
	font-size: 1em;
	font-family: $typeface-kanit;
	border: 0;
	background: 0;
	outline: 0;
	padding: 0;
	margin: 0;

	::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

@mixin clearfix {

	&::after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}
