.navigation {
	list-style-type: none;
	padding: 2rem 0;
	margin: 0;
	white-space: nowrap;
	overflow-y: hidden;

	&__item {
		display: inline-block;
		margin: 0 0.4rem 0 0;
	}

	&__button {
		@include resetButton;
		padding: 2.6rem 12rem 2.6rem 1.2rem;
		text-align: left;
		background: $colour-grey;

		&--selected {
			color: $colour-black;
			background: $colour-white;
			position: relative;

			&::after {
				position: absolute;
				bottom: -11px;
				left: calc(50% - 14px);
				width: 0;
				height: 0;
				content: "";
				border-style: solid;
				border-width: 12px 12px 0 12px;
				border-color: $colour-white transparent transparent transparent;
			}
		}
	}

	&__name {
		color: $colour-white;
		font-size: 1.8rem;
		text-transform: uppercase;
		padding: 0;
		margin: 0 0 0.4rem 0;

		&--selected {
			color: $colour-black;
		}
	}

	&__date {
		color: $colour-white;
		font-size: 3rem;
		font-weight: 600;
		float: right;
		margin: 0 -92px 0 0;
	}

	&__events {
		display: block;
		color: $colour-light-grey;
		font-size: 1.2rem;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}
}
